@model WebApplicationMVC.Models.TransacaoModel

@{
    ViewData["Title"] = "Apagar Transação";
}

<h3>Tem certeza que deseja apagar deletar essa transação?</h3>
<div>
    <h4>Apagar transação:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoOperacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoOperacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>    

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary" role="button">Voltar</a>
    </form>


</div>
